.snowContainer {display: inline; border: 1px solid #336699; padding: 10px; float: right; background-image: url("http://cdn.staticneo.com/nfassets/pkgs/xmas_snow/snowbg.png")}
.snowContainer A {color: black; text-decoration: none}
.xmasCursor { cursor : url("http://cdn.staticneo.com/nfassets/pkgs/xmas_snow/xmas.ani"), url("http://cdn.staticneo.com/nfassets/pkgs/xmas_snow/xmas.gif"), pointer }
